<nav class="navbar navbar-default navbarCustom">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <img src="images\logo.png" alt="Wild Cousine" class="img-circle img-responsive navbarImg logoImg"></img>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="centeredMenu nav navbar-nav menu">
          <li class="active"><a href="index.html">Početna</a></li>
          <li><a href="Catering.html">Catering</a></li>
          <li><a href="Menu.html">Meni</a></li>
          <li><a href="AboutUs.html">O Nama</a></li>
          <li><a href="Contacts.html">Kontakt</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
            <li><img class='menuFlag navbarImg' src="images/engFlag.png" ></img></li>
            <li class="end"><img class='menuFlag navbarImg' src="images/bosFlag.png"></img></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
